__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

.env
.venv/
venv/
env/


*.log
.DS_Store

# Archivos para almacenar fotos
uploads/identificaciones/*
!uploads/identificaciones/.gitignore
uploads/llegadas/*
!uploads/llegadas/.gitignore